# server
PORT=3000

# client
CLIENT_URL=<client-url> 

# databse
DB_URI=<database-url>/dbname

# google key
GOOGLE_CLIENT_ID=<google-client-id>
GOOGLE_CLIENT_SECRET=<google-client-secret>
GOOGLE_CALLBACK_URL=<server-url>/api/auth/google/callback

# secret
SESSION_SECRET = 'keyboard cat';


# stripe 
STRIPE_SECRET_KEY=sk_test_51KJiYCSFpQyiI59j1LxJGuBrBQeZExvK64XZQVbtW5pIcmXAFCk9E6fFAE1cP36XAaBPPZp3kibrwWDxEoQv9I2400ZZ25Y546
STRIPE_SUCCESS_URL=<client-url>
STRIPE_CANCEL_URL=<server-url>/api/order/cancel
